.Weather form {
  padding: 10px;
}

.Weather h1 {
  color: #ff7ac6;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  margin: 20px 0;
}
.Weather ul {
  padding: 0;
}
.Weather li {
  list-style: none;
  color: #b891f3;
  font-size: 16px;
  line-height: 19px;
}
.Weather li::first-letter {
  text-transform: capitalize;
}
.Weather strong {
  color: #f1fb8c;
  font-size: 50px;
  font-weight: 400;
}

.Weather .overview {
  margin-bottom: 20px;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #f1fb8c;
}
.Weather img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
  margin-top: -25px;
}
.Weather .infos {
  padding-left: 20px;
}
.Weather .btn-custom {
  background-color: #b891f3;
  border: #b891f3;
  color: #e8e8e3;
}
.Weather .btn-custom:hover {
  background-color: #49ce6d;
}
