.Weather form {
  padding: 10px;
}
.Weather input {
  padding: 6px 12px;
  border-radius: 4px;
}
.Weather h1 {
  color: #ff7ac6;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}
.Weather ul {
  padding: 0;
}
.Weather li {
  list-style: none;
  color: #b891f3;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather li::first-letter {
  text-transform: capitalize;
}
.Weather strong {
  color: #f1fb8c;
  font-size: 50px;
  font-weight: 400;
}
.Weather .loader {
  margin: 0 auto;
}
